[Unit]
Description=Backend service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=schlafenhase
ExecStart=/usr/bin/env python3 /home/schlafenhase/BackEnd/main.py

[Install]
WantedBy=multi-user.target